:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color : #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}
/* Start Box */
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.alien-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.full-w{
    width: 100%;
    display: block;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.w-fit{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
@media (max-width : 767px) {
    .block-moblie{
        display: block;
    }
    .hide-moblie{
        display: none;
    }
}
/* End Box */

/* Start padding and margin */
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pt-15{
    padding-top: 15px;
}
.pb{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-15{
    padding-left: 15px;
}
.m-0{
    margin: 0;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}


/* End padding and margin */

/* Start color */

.bg-white {
background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.c-blue{
    color: var(--blue-color);
}
.c-gray{
    color: var(--gray-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-green{
    color: var(--green-color);
}
.c-red{
    color: var(--red-color);
}

/* End color */

/* Start position */
.p-rel{
    position: relative;
}
/* End position */

/* Start font */
.txt-c{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.f-bold{
    font-weight: bold;
}
@media (max-width : 767px) {
    .txt-c-mobile{
        text-align: center;
    }
}
/* End font */

/* Start border */
.b-none{
    border : none;
}
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End border */

/* Start conponet */
.f-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bt-shape{
    padding:4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End conponet */