/* Start Global */
:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color : #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
*:focus{
    outline: none;
}
.page{
    min-height: 100vh;
    background-color: #F1F5F9
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
/* End Global */

/* Start sidebar */
.sidbar{
    width: 250px;
    box-shadow: 0 0 10px #DDD;
}
.sidbar > h3{
    margin-bottom: 50px;
}
.sidbar > h3::before,
.sidbar > h3::after{
    content: '';
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.sidbar > h3::before{
    bottom: -20px;
    width: 80px;
    height: 2px;
}
.sidbar > h3::after{
    bottom: -24px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
}
.sidbar ul li a{
    margin-bottom: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.sidbar ul li a:hover,
.sidbar ul li a.active{
    background-color: #f6f6f6;
}
.sidbar ul li span{
    font-size: 14px;
    margin-left: 14px;
}
@media(max-width : 767px) {
    .sidbar {
        width: 58px;
        padding: 10px
    }
    .sidbar > h3{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .sidbar > h3::before,
    .sidbar > h3::after{
        display: none;
    }
    .sidbar ul li a{
        padding: 5px;
        justify-content: center;
    }
    .sidbar ul li span{
        display: none;
    }
}
/* End sidebar */

/* Start content */
.content{
    flex: 1;
    overflow: hidden;
    background-color: #f1f5f9;
}
.content .head .search::before{
    font-family: var(--fa-style-family-classic);
    content: '\f002';
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    color: var(--gray-color);
}
.content .head .search input{
    border: 1px solid #ccc;
    padding-left: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    width: 150px;
}
.content .head .search input::-webkit-input-placeholder{
    color: var(--gray-color);
}
.content .head .search input::-moz-placeholder{
    color: var(--gray-color);
}
.content .head .search input:-ms-input-placeholder{
    color: var(--gray-color);
}
.content .head .search input::-ms-input-placeholder{
    color: var(--gray-color);
}
.content .head .search input::placeholder{
    color: var(--gray-color);
}
.content .head .search input:focus{
    width: 200px;
}
.content .head .search input:focus::-webkit-input-placeholder{
    opacity: 0;
}
.content .head .search input:focus::-moz-placeholder{
    opacity: 0;
}
.content .head .search input:focus:-ms-input-placeholder{
    opacity: 0;
}
.content .head .search input:focus::-ms-input-placeholder{
    opacity: 0;
}
.content .head .search input:focus::placeholder{
    opacity: 0;
}
.content .head .icons span{
    font-size: 40x;
    cursor: pointer;
}
.content .head .icons span::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -3px;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.content .head .avater img{
    width: 37px;
    margin-left: 15px;
    cursor: pointer;
}
.page h1{
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.page h1::before{
    background-color: white;
    width: 120px;
}
.page h1::after{
    background-color: black;
    width: 40px;
}
.wrapper{
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .wrapper{
        grid-template-columns: minmax(200px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}
/* End content */

/* Start Welcom */
.welcome > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    border: 2px solid white;
    margin: -32px 0 0 20px;
}
.welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body{
    flex: 1;
}
.welcome > a{
    margin: 5px 20px 5px auto;
}
.welcome > a:hover{
    background-color: var(--blue-alt-color);
}
@media (max-width : 767px) {
    .welcome .body{
        margin: 5px;
        padding: 5px;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    }
}
/* end Welcom */

/* Start darft */
.darft textarea{
    resize: none;
    height: 180px;
}
.darft .save{
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.darft .save:hover{
    background-color: var(--blue-alt-color);
}
/* End darft */

/* Start target */
.target .icon{
    width: 80px;
    height: 80px;
}
.target .details{
    flex: 1;
}
.target .progress > span{
    width: 100%;
    height: 4px;
}
.target .details .progress > span span{
    position: absolute;
    top: -36px;
    right: -18px;
    padding: 2px 5px;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.target .details .progress > span span::after{
    content: '';
    border-color: transparent;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.target .blue .icon,
.target .blue .progress{
    background-color: rgb(0 117 255 / 20%);
}
.target .blue .icon i{
    color: var(--blue-color);
}
.target .blue .details .progress > span span::after{
    border-top-color: var(--blue-color);
}


.target .orange .icon{
    color: var(--orange-color);
}
.target .orange .icon,
.target .orange .progress{
    background-color: rgb(245 158 11 / 20%);
}
.target .orange .icon i{
    color: var(--orange-color);
}
.target .orange .details .progress > span span::after{
    border-top-color: var(--orange-color);
}


.target .green .icon i {
    color: var(--green-color);
}
.target .green .icon,
.target .green .progress{
    background-color: rgb(34 197 94 / 20%);
}
.target .green .icon,
.target .green .details .progress > span span::after{
    border-top-color: var(--green-color);
}

/* End target */

/* Start tickets */
.tickets .box{
    border: 1px solid #CCC;
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .t-content{
        gap: 10px;
    }
    .tickets .box{
        width: 100%;
        margin-bottom: 0;
    }
}
/* End tickets */

/* Start news */
.news .new-row{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.news .new-row img{
    width: 100px;
}
.news .new-row .new-content{
    flex-grow: 1;
}
@media (max-width: 767px) {
    .news .new-row{
        display: block;
        padding-bottom: 20px;
    }
}
/* End news */
/* Start tasks */
.tasks .task-row{
    border-bottom: 1px solid #EEE;
}
.tasks .task-row.done{
    opacity: 0.3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.tasks .done h3,
.tasks .task-row.done p{
    text-decoration: line-through;
}
.tasks .task-row i:hover {
    color: var(--red-color);
    cursor: pointer;
}
/* End tasks */

/* Start latest upload  */
.upload .u-box{
    flex-grow: 1;
}
.upload .u-box img{
    width: 40px;
    height: 40px;
}
.upload ul li:not(:last-of-type){
    border-bottom: 1px solid #EEE;
}
/* End latest upload  */

/* Start last projrct */
.last-projrct ul::before{
    content: '';
    position: absolute;
    left: 11px;
    top: 0;
    height: 100%;
    width: 2px;
    background: var(--blue-color);
}
.last-projrct ul li::before{
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 10px;
    z-index: 1;
}
.last-projrct ul li.done::before{
    background-color: var(--blue-color);
}
.last-projrct ul li.current::before{
    animation: flashing 0.8s infinite alternate;
    -webkit-animation: flashing 0.8s infinite alternate;
}
.last-projrct .p-img{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    width: 180px;
}
/* End last projrct */
/* Start Reminders */
.reminders ul li > span{
    width: 20px;
    height: 20px;
} 
.reminders ul li.blue > div {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li.green > div {
    border-left: 2px solid var(--green-color);
}
.reminders ul li.red > div {
    border-left: 2px solid var(--red-color);
}
.reminders ul li.orange > div {
    border-left: 2px solid var(--orange-color);
}
/* End Reminders */
/* Start latest post */
.latest-post .post-img{
    width: 48px;
    height: 48px;
}
.latest-post .post-content{
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    line-height: 1.8;
    text-transform: capitalize;
}
/* End latest post */
/* Start social-medaia */
.social-medaia ul li i {
    width: 52px;
}
.social-medaia ul li > span{
    cursor: pointer;
}
.social-medaia ul li i{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.social-medaia ul li i:hover{
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
}

.social-medaia ul li.twitter{
    background-color: rgb(29 161 242 / 20%);
}
.social-medaia ul li.twitter > div > span{
    color: #1da1f2;
}
.social-medaia ul li.twitter i,
.social-medaia ul li.twitter > span{
    background-color: #1da1f2;
}
/* facebook */
.social-medaia ul li.facebook{
    background-color: rgb(24 119 242 / 20%)
}
.social-medaia ul li.facebook > div > span{
    color: #1877f2
}
.social-medaia ul li.facebook i,
.social-medaia ul li.facebook > span{
    background-color: #1877f2
}
/* youtube */
.social-medaia ul li.youtube{
    background-color: rgb(255 0 0 / 20%)
}
.social-medaia ul li.youtube > div > span{
    color: #ff0000
}
.social-medaia ul li.youtube i,
.social-medaia ul li.youtube > span{
    background-color: #ff0000
}
/* linkedin  */
.social-medaia ul li.linkedin{
    background-color: rgb(0 119 181 / 20%)
}
.social-medaia ul li.linkedin > div > span{
    color: #0077b5;
}
.social-medaia ul li.linkedin i,
.social-medaia ul li.linkedin > span{
    background-color: #0077b5;
}
/* End social-medaia */
/* Start project table */
.project-table .table{
    overflow-x: auto;
    
}
.project-table table{
    min-width: 1000px;
    border-spacing: 0;
}
.project-table table td{
    padding: 20px ;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
.project-table table tr:hover td{
    background-color: #eee;
}
.project-table table tr td:last-child{
    border-right: 1px solid #EEE;
    font-size: 13px;
}
.project-table table tbody td img{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    margin-left: -20px;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End project table */

/********* Start setting page */
.setting-page{
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width : 767px) {
    .setting-page{
        grid-template-columns: minmax(100px, 1fr);
    }
}

/* Start open/close */
.open-close textarea{
    min-height: 150px;
    resize: none;
    border: 1px solid #CCC;
}
/* end open/close */
/* Start  General Info*/
.genral-info input[type="email"]{
    display: inline-flex;
    width: calc(100% - 80px);
}
.security-info > div:not(:last-child){
    border-bottom: 1px solid #CCC;
}
/* End General Info */


/********* end setting page */
/* Start Animation */
@-webkit-keyframes flashing {
    0%{
        background-color: var(--blue-color);
    }
    100%{
        background-color: white;
    }
}
@-webkit-keyframes flashing {
    0%{
        background-color: var(--blue-color);
    }
    100%{
        background-color: white;
    }
}
@keyframes flashing {
    0%{
        background-color: var(--blue-color);
    }
    100%{
        background-color: white;
    }
}
/* End Animation */